* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    /* body */
    body {
        background-color: rgb(237, 237, 246);
        font-family: Arial, Helvetica, sans-serif;
    }

    /* STRAT HEADER STYLE */
    header {
        padding:  20px 30px;
        background-color: rgb(49, 52, 61);
    }

    /** header h1 style **/
    header h1 {
        font-weight: bold;
        font-size: 36px;
        font-family:'Times New Roman',Georgia, 'Times New Roman', Times, serif;
        color:#232626;
        margin: 0;
        display: inline; 
    }

    /** header links style **/
    header a {
        text-decoration: none;
    }

    /* END HEADER STYLE */ 
     /* STRAT NAV BAR STYLE */
    header nav {
        float:right;
        margin: 7px 0;
    }

    header nav ul li {
        display: inline;
    }
    
    header nav ul li a {
        margin: 0 5px;
        font-weight: lighter;
        padding: 5px 10px;
        font-size: 22px;
        font-family:'Times New Roman',Georgia, 'Times New Roman', Times, serif;
        color:rgb(145, 204, 205);
        border-bottom: 4px solid;
    }
  /* END NAV BAR STYLE */  
  /* STRAT HERE STYLE */
    .hero {
        background-image: url("../images/hero-bg.jpg");
        height: 100px;
        background-position: center;
        background-size: cover;
        position: relative;
        text-align: center;
    }
    .resume-title {
        padding: 20px 20px 5px 20px;
        font-weight: bold;
        font-size: 32px;
        font-family:'Times New Roman',Georgia, 'Times New Roman', Times, serif;
        border-bottom: 4px solid;
        color:rgb(145, 204, 205);
        display: inline-block;
      }
/* END HERE STYLE */
/* START RESUME CONTENT STYLE */

/* END RESUME CONTENT STYLE */
/* STRAT FOOTER STYLE */
  footer {
    background-color: rgb(49, 52, 61);
    width: 100%;
    padding: 20px 15px;
    }

/* footer h2 style*/
footer h2 {
    display: inline;
    color:  #01b9a8;
    font-size: 22px;
    margin: 0;
    }
/* footer div style */
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
    
    }