:root {
    --hf-color: #232626;
    --bg-color: rgb(237, 237, 246);
    --box-color: rgb(145, 204, 205);
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
  }

/* body */
body {
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
}
/** HEADER and MENU STYLE START **/

header {
    display: flex;
    justify-content: space-between;
    padding:  20px 30px;
    background-color: rgb(49, 52, 61);
    flex-wrap: wrap;
}
/**header h1 style */
header h1 {
    font-weight: bold;
    font-size: 36px;
    font-family:'Times New Roman',Georgia, 'Times New Roman', Times, serif;
    color:#232626;
    margin: 0;
}
header span {
    background-color: var(--box-color);
    width: 50%;
}
/* header links style */
header a {
    text-decoration: none;
}

/* nav bar style */
header nav {
    margin: 7px 0;
}
header nav ul, .contact-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  
}
header nav ul li a {
    margin: 0 5px;
    font-weight: lighter;
    padding: 5px 10px;
    font-size: 1.55vw;
    font-family:'Times New Roman',Georgia, 'Times New Roman', Times, serif;
    color:rgb(145, 204, 205);
    border-bottom: 4px solid;
}
header nav ul li a:hover {
    color: rgb(255, 0, 0);
}
/** start hero style **/
.hero {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/hero-bg.jpg");
    height: 100px;
    background-position: center;
    background-size: cover;
    position: relative;
}
/* SECTION STYLES START */
.my-title {
    width: 30%;
    font-size: 50px;
    padding: 0 5px 20px 100px;
    margin: 25px 0px 15px 15px;
    font-family:'Times New Roman',Georgia, 'Times New Roman', Times, serif;
    color:#224380;
}

/* Start About-me style */
.abautme {
    margin: 0 auto 30px auto;
    color:#224380;
    overflow: auto;
  }
  .right-content {
      margin: 15px 5px 20px;
      padding: 5px 50px;
      float:right;
      width: 65%;
      border-left: 4px solid;
  }
  
  /* end of about-me style */
  
  /* start my-work style */

  /* end my-work style */

  /* start contact-me style */

.contact-nav a {
    margin: 0 5px;
    font-weight: lighter;
    padding: 5px 10px;
    font-size: 1.55vw;
    font-family:'Times New Roman',Georgia, 'Times New Roman', Times, serif;
    color:rgb(145, 204, 205);
    border-bottom: 4px solid;
}
  .right-content p {
      margin:  0 auto;
  }
  .primary-border {
    border-color: #fce138;
  }
  
  .secondary-border {
    border-color: #39a6b2;
  }

  /* footer style */
  footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(49, 52, 61);
    width: 100%;
    padding: 20px 15px;
}
footer h2 {
  
    color:  #01b9a8;
    font-size: 22px;
    margin: 0;
}
footer div {
   
    line-height: 1.5;
    text-align: right;
    
}
/* UTTILS */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.first-column {
    background-color:rgb(255, 0, 0) ;
    height: 100px;
}

.second-column {
    background-color:rgb(49, 0, 128) ;
    height: 100px;
}