* {
margin: 0;
padding: 0;
box-sizing: border-box;
  }
/* body */
body {
    background-color: rgb(237, 237, 246);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding:  20px 30px;
    background-color: rgb(49, 52, 61);
}
/** header h1 style **/
header h1 {
    font-weight: bold;
    font-size: 36px;
    font-family:'Times New Roman',Georgia, 'Times New Roman', Times, serif;
    color:#232626;
    margin: 0;
    display: inline;
    
}
/** header links style **/
header a {
    text-decoration: none;
    color: #8a0a0ad7;
}
/** nav bar style **/
header nav {
    float:right;
    margin: 7px 0;
    
    
}
header nav ul li {
    display: inline;
  
}
header nav ul li a {
    margin: 0 5px;
    font-weight: lighter;
    padding: 5px 10px;
    font-size: 22px;
    font-family:'Times New Roman',Georgia, 'Times New Roman', Times, serif;
    color:rgb(145, 204, 205);
    border-bottom: 4px solid;
    
    padding
    
    
}
/** start hero style **/
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 100px;
    background-position: center;
    background-size: cover;
    position: relative;
}
/* SECTION About Me STYLES START */
.me {
    font-size: 55px;
    display: inline-block;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    margin-bottom: 35px;
    color: #024e76;
  }
  .me p {
      margin:  0 auto;
  }
  .primary-border {
    border-color: #fce138;
  }
  
  .secondary-border {
    border-color: #39a6b2;
  }
  /* SECTION TITLE STYLES END */
/** end of hero style **/
/* Header and nav bar style part */
/*
header {
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.487);
}
header h1 {
    font-weight: bold;
    display: flex;
    margin: 0;
    font-size: 40px;
    color: rgb(104, 102, 102);
    background-color: rgb(104, 160, 182);
    
}
header a {
    text-decoration: none;
}
*/
/* stlye nav bar to the right side of page*/
/*
header nav {
     margin: 5px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: normal;
    font-size: 1.74vw;
    font-weight: bold;
    font-style:inherit;
    color: rgba(0, 0, 0, .5);
}
*/