* {
margin: 0;
padding: 0;
box-sizing: border-box;
  }
/* body */
body {
    background-color: rgb(237, 237, 246);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding:  20px 30px;
    background-color: rgb(49, 52, 61);
}
/** header h1 style **/
header h1 {
    font-weight: bold;
    font-size: 36px;
    font-family:'Times New Roman',Georgia, 'Times New Roman', Times, serif;
    color:#232626;
    margin: 0;
    display: inline;
    
}
/** header links style **/
header a {
    text-decoration: none;
    color: #8a0a0ad7;
}
/** nav bar style **/
header nav {
    float:right;
    margin: 7px 0;
    
    
}
header nav ul li {
    display: inline;
  
}
header nav ul li a {
    margin: 0 5px;
    font-weight: lighter;
    padding: 5px 10px;
    font-size: 22px;
    font-family:'Times New Roman',Georgia, 'Times New Roman', Times, serif;
    color:rgb(145, 204, 205);
    border-bottom: 4px solid;
}
/** start hero style **/
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 100px;
    background-position: center;
    background-size: cover;
    position: relative;
}
/* SECTION STYLES START */
.main-part {
    
    margin: 0 auto 30px auto;
    color:#224380;
    overflow: auto;
  }
.left-title {
    width: 30%;
    float:left;
    font-size: 50px;
    padding: 0 5px 20px 100px;
    margin: 25px 0px 15px 15px;
    font-family:'Times New Roman',Georgia, 'Times New Roman', Times, serif;
    color:#224380;
  }
  .right-content {
      margin: 15px 5px 20px;
      padding: 5px 50px;
      float:right;
      width: 65%;
      border-left: 4px solid;
  }

  .right-content p {
      margin:  0 auto;
  }
  .primary-border {
    border-color: #fce138;
  }
  
  .secondary-border {
    border-color: #39a6b2;
  }

  /* footer style */
  footer {
    background-color: rgb(49, 52, 61);
    width: 100%;
    padding: 20px 15px;
}
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
    
}
  /* SECTION TITLE STYLES END */
/** end of hero style **/
/* Header and nav bar style part */
/*
header {
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.487);
}
header h1 {
    font-weight: bold;
    display: flex;
    margin: 0;
    font-size: 40px;
    color: rgb(104, 102, 102);
    background-color: rgb(104, 160, 182);
    
}
header a {
    text-decoration: none;
}
*/
/* stlye nav bar to the right side of page*/
/*
header nav {
     margin: 5px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: normal;
    font-size: 1.74vw;
    font-weight: bold;
    font-style:inherit;
    color: rgba(0, 0, 0, .5);
}
*/